/*=imagen=*/
.carousel-inner {
    max-height: 39rem;
}

ul.slider li img {
    width: 100%;
    height: 300px;
}


/*pantallas*/
@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}


@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    
}